.item-section-wrapper{

    border: solid 5px black;
    border-radius: 15%;
    width: 35vw;
    height: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;

    .item-section--title{

        font-size: 2rem;
    
    }
    
}