<div style="padding: 10px;">
<p>pruevas works!</p>
<app-main-page-body></app-main-page-body>
<h1>section item component</h1>
<app-section-item [options]="optionSectionmock"></app-section-item>
<p>este componente tiene un input options en le que se le pasa el
     color de fondo, en el action se le pasa la ruta a laq
    ue deve dirigir y el title muesta el texto que deve aparecer.</p>
<h1>item list component</h1>
<app-item-list [ItemListOptions]='itemListMock.itemList'></app-item-list>
</div>
<div style="width:50%">
<app-item-list [ItemListOptions]='itemListMock.itemList'></app-item-list>
    
</div>