


// item list

$item-list--height : 40px; 
$item-list--border-radius : 15px; 
$item-list--full-container-background:rgb(59, 196, 59);
$item-list--lack-container-background:red;
$item-list--wrapper-border-radius : 20px; 
$item-list--text-lack: 10px;
$item-list--text-full: 2px;