<div class="item-list--container" (click)="onClick()">

    <h3 class="item-list--product-name">{{itemName}} </h3>
    <div class="item-list--wrapper">
        <div [ngStyle]="{'width': inStockPercentage}" class="item-list--shared-container item-list--full-container">

            <div class="item-list--text " >
               <span class="badge-full badge badge-light"> {{inStock}} {{this.ItemListOptions.cuantityType}} </span>  
            </div>

        </div>

        <div class="item-list--shared-container item-list--lack-container">

          

                <div  class="item-list--text-lack">
                    <span class="badge-lack badge badge-light">{{itemLack}} {{this.ItemListOptions.cuantityType}}</span>
                </div>
            
        </div>
    

    </div>

</div>