<app-horizontal-scroll-container [hscOptions]="horizontalScrollContainerOptions">

    <div class="login--wrapper"  role="primary" >

        <app-login-form></app-login-form>

        <app-alert-message *ngIf="error.message" [alertOptions]="error"></app-alert-message>

        <div class="login--butons-wrapper">

            <app-button  (actionEmit)="buttonCmp($event)" [buttonOptions]="continueLoginButtonOptions" ></app-button>
            <app-button (actionEmit)="buttonCmp($event)" [buttonOptions]="toRegisterButtonOptions" ></app-button>

        </div>

        <div class="login--footer">

            
            
        </div>
        
    </div>
    
    
    <div role="secondary">
        
        
        <app-button (actionEmit)="buttonCmp($event)" [buttonOptions]="continueCreateProfileOptions" ></app-button>
        <app-button (actionEmit)="buttonCmp($event)" [buttonOptions]="toLoginButtonOptions" ></app-button>
        
    </div>

</app-horizontal-scroll-container>