.login--wrapper{

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: calc(100vh -  150px);
    
}

.login--footer{

    display: flex;
    align-items: center;
    justify-content: center;

}

.login-form--wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;

}

.register-form--wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;

}

.login-form--common-text-field{
    
    text-align: center;
    margin: 1rem;
    width: 80vw;
    border: 0;
    border-bottom: solid yellow 2px;

}:focus {
          
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}

.register-form--common-text-field{
    
    text-align: center;
    margin: 1rem;
    width: 80vw;
    border: 0;
    border-bottom: solid yellow 2px;

}:focus {
          
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    
}