
@import '../../shared/styles/variables.scss';
.item-list--container{
    width: 100%;
    position: relative;
}
.item-list--shared-container{

    border-radius: $item-list--border-radius;
 
} 

.item-list--full-container{

    background:$item-list--full-container-background;
    height: $item-list--height;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

.item-list--lack-container{

    background:red;
    width: 100%;
    height: $item-list--height;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-end;

}

.item-list--wrapper{

    border: solid 5px;
    height: $item-list--height;
    width:  100%;
    border-radius: $item-list--wrapper-border-radius;

}



.item-list--text{
    margin: $item-list--text-full;
 
}

.item-list--text-lack{
    margin: $item-list--text-lack;
    
}